<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyViperModuleTests</string>
	<key>Description</key>
	<string>A VIPER Test Stack</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the module to create tests for</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Module Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>testingFrameworkChoice</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Testing Framework:</string>
			<key>Description</key>
			<string>The testing framework to use. Either XCTest or Quick &amp; Nimble</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>XCTest</string>
			<key>Values</key>
			<array>
				<string>XCTest</string>
				<string>Quick &amp; Nimble</string>
			</array>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>swiftVersionChoice</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Swift Version:</string>
			<key>Description</key>
			<string>The version of Swift</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Swift 3 &amp; Swift 4</string>
			<key>Values</key>
			<array>
				<string>Swift 2.3</string>
				<string>Swift 3 &amp; Swift 4</string>
			</array>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>8</string>
	<key>Summary</key>
	<string>A VIPER Test Stack</string>
	<key>BuildableType</key>
	<string>Test</string>
</dict>
</plist>
